<!-- <header class="bar bar-header bar-dark">
	<button class="button icon ion-navicon button-dark"></button>
    <h1 class="title">Sign-in</h1>
</header>
 -->
<ion-content has-header="true" scroll="false" has-footer="true">
	<div class="item item-image padding">
    	<img src="img/roundview-logo.png">
  	</div>
	<form ng-submit="signInUser(user)">
		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="email" placeholder="Email Address" ng-model="user.email">
		  </label>
		  <label class="item item-input">
		    <input type="password" placeholder="Password" ng-model="user.password">
		  </label>
		</div>
		<div class="error padding-left"> {{errors}}</div>
		<div class="padding">
		  <button type="submit" class="button button-block button-positive">Submit</button>
		</div>
	</form>
	<div class="row">
  		<div class="col col-33 col-offset-33">Forgot password? | <a href="#/sign-up">Sign Up</a></div>
	</div> 
</ion-content>

<div class="bar bar-footer bar-light">
	<div class="title">Copyright Roundview 2014</div>
</div>