<!-- <div>
  <label> Name: </label>
  <input type="text" ng-model="yourName" placeholder="Enter a name here">
  <hr>
  <h1>Hello {{yourName}}!</h1>
</div>


<div ng-controller="AngularRocksCtrl">
  <h1>Message: {{message}}</h1>
</div>

<div ng-controller="PocketListCtrl">
  <div id="pocketlist-list-container">
    <ul>
      <tr>
        <td>{{pocketlists.last_month}}</td>
        <td>{{pocketlists.last_week}}</td>
        <td>{{pocketlists.last_year}}</td>
    </ul>
  </div>
</div> 

<div ng-controller="AlertDemoCtrl">
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
  <button class='btn btn-default' ng-click="addAlert()">Add Alert</button>
</div> -->