<div class="container"> 
	<div class="row" ng-controller="SignInCtrl">
		<form ng-submit="signInUser(user)">
			<div class="list list-inset">
			  <label class="item item-input">
			    <input type="email" placeholder="Email Address" ng-model="user.email">
			  </label>
			  <label class="item item-input">
			    <input type="password" placeholder="Password" ng-model="user.password">
			  </label>
			</div>
			<div class="error padding-left"> {{errors}}</div>
			<div class="padding">
			  <button type="submit" class="button button-block button-positive">Submit</button>
			</div>
		</form>
	</div>
<!-- 	<div class="row"> 
		<a href="/api/v1/users/auth/google_oauth2"> Sign in with Google </a>
	</div>  -->
	<div class="row">
		<a href="#/sign-up"> Register </a>
	</div>
</div> 
